* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-bg {
  background-color: #000;
}

.header {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0px auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  color: #fff;
  padding: 16px 0px;
  font-size: 18px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background-color: #111;
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a::after {
    display: none;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.introducao-bg {
  background-color: #000;
  color: #fff;
  box-shadow: inset 0px -120px #fff;
}

.introducao {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 20px;
  margin: 0px auto;
  gap: 0px 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao img {
  object-fit: cover;
  height: 100%;
}

.introducao h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
}

.introducao h1 span {
  color: #fb0;
}

.introducao p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
}

.introducao a {
  display: inline-block;
  padding: 16px 32px;
  background-image: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #320;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
}

.introducao a:hover {
  background-image: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
  }

  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background-color: #111;
    padding-top: 40px;
    box-shadow: inset 0px -60px #fff;
  }
  
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .introducao a {
    padding: 12px 16px;
    font-size: 16px;
  }
}