:root {
  --color-12: #000000;
  --color-11: #111111;
  --color-10: #2e2e2e;
  --color-9: #404040;
  --color-8: #595959;
  --color-7: #717171;
  --color-6: #9c9c9c;
  --color-5: #b2b2b2;
  --color-4: #cccccc;
  --color-3: #dedede;
  --color-2: #ededed;
  --color-1: #f7f7f7;
  --color-0: #ffffff;

  --primary-5: #332200;
  --primary-4: #664400;
  --primary-3: #a66f00;
  --primary-2: #e4a30b;
  --primary-1: #ffbb00;
}

.cor-8 {
  color: var(--color-8);
}

.primary-1 {
  color: var(--primary-1);
}