* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
