.introducao-bg {
  background-color: #000;
  color: var(--color-0);
  box-shadow: inset 0px -120px var(--color-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao img {
  object-fit: cover;
  height: 100%;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
  color: var(--color-5);
}

@media (max-width: 800px) {
  .introducao-bg {
    background-color: var(--color-11);
    padding-top: 40px;
    box-shadow: inset 0px -60px var(--color-0);
  }
  
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao h1 {
    margin-bottom: 16px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
